<% i = 1 %>
<h3>List of available new clips</h3>
<ul>
  <form>
    <% @clips.each do |clip| %>
      <li id="<%= clip.href %>">
        <%= clip.name %> - <%= clip.author %>
        <% if clip.exists %>
          <a href="video/<%= clip.href %>.flv">flv</a> <a href="video/<%= clip.href %>.avi">avi</a>
        <% else %>
          <button id="video_<%= i %>">get</button>
        <% end %>
        <% i = i + 1 %>
      </li>
    <% end %>
  </form>
</ul>
<div id="ready"/>